/* Google Font Added */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Reuse CSS */
body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  transition: 0.5s;
}

.fix {
  overflow: hidden;
}

.col-8 {
  width: 66.66%;
  float: left;
  padding: 0 15px;
}
.col-4 {
  width: 33.33%;
  float: left;
  padding: 0 15px;
}
.col-12 {
  width: 100%;
  float: left;
  padding: 0 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* Menu Style */
.header_area {
  border-top: 3px solid #4272d7;
  min-height: 120px;
}
.logo {
  float: left;
  margin-top: 36px;
}
.icon {
  float: right;
  margin-top: 50px;
  margin-left: 25px;
  padding-left: 25px;
  position: relative;
}
.icon::before {
  content: "";
  position: absolute;
  background: #ccc;
  width: 2px;
  height: 15px;
  left: 0;
  top: 3px;
}
.main_menu {
  float: right;
}
/* .main_menu ul {
} */
.main_menu ul li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
  top: 100%;
  left: 0;
}
.main_menu ul li a {
  color: #666666;
  font-size: 15px;
  text-decoration: none;
  padding: 50px 0;
  display: block;
}
.main_menu ul li:hover > a {
  color: #4272d7;
}

/* Sub Menu Style */
.main_menu ul li ul.sub_menu {
  position: absolute;
  background: #171a21;
  top: 110%;
  width: 260px;
  border-top: 3px solid #4272d7;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}
.main_menu ul li:hover ul.sub_menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.main_menu ul li ul.sub_menu li {
  margin: 0;
  display: block;
  border-bottom: 1px solid #1e2128;
}
.main_menu ul li ul.sub_menu li a {
  padding: 15px 20px;
  color: #fff;
  font-size: 13px;
}
.main_menu ul li ul.sub_menu li a:hover {
  background: #4272d7;
  padding-left: 30px;
}

/* Slider Style */

.single_slider {
  text-align: center;
  width: 100%;
  padding: 200px;
  background-size: cover;
  background-position: center center;
  z-index: 2;
}

.single_slider h4 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}
.single_slider h2 {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px 0;
}
.single_slider a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  background: #4272d7;
  padding: 20px 40px;
  display: inline-block;
}
.slider_area {
  overflow: hidden;
  width: 100%;
}

.owl-nav .owl-prev i.fa-solid.fa-arrow-left {
  padding: 10px;
  background: #4272d7;
  margin-right: 10px;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 5px;
  color: #fff;
}
.owl-nav .owl-next i.fa-solid.fa-arrow-right {
  padding: 10px;
  background: #4272d7;
  margin-right: 10px;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 5px;
  color: #fff;
}

.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  background: red;
  display: inline-block;
  margin: 0 2px;
  border-radius: 50%;
}

.owl-dots {
  text-align: center;
  margin-bottom: -50px;
  position: relative;
  z-index: 999 !important;
}

/* CTA Style */
.cta_area {
  padding: 30px 0;
  background-color: #4272d7;
}

.cta_text p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.cta_text p span {
  font-size: 30px;
}
.cta_button {
  text-align: right;
}
.cta_button a {
  border: 2px solid #fff;
  padding: 15px 40px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

/* Features Area Style */
.features_img img {
  width: 100%;
}

.features_area {
  padding: 70px 0;
}

.single_features {
  position: relative;
  overflow: hidden;
}
.features_content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 30px;
  background: #4271d7e3 none repeat scroll 0 0;
  transition: 0.3s;
  transform: translateY(66%);
}
.single_features:hover .features_content {
  transform: translateY(0);
}
.features_icon {
  margin-bottom: 30px;
}
.features_icon i {
  color: #fff;
  font-size: 30px;
  display: inline-block;
}
.features_icon h3 {
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
  display: inline-block;
}
.features_content p {
  color: #e5e5e5;
  line-height: 25px;
}
.features_content a {
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
}

/* Service Section Style */
.service_area {
  padding: 70px 0;
  padding-bottom: 20px;
  background: #f0f0f0;
}
.section_title {
  text-align: center;
  margin-bottom: 80px;
}

.section_title h2 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.section_title h2::before {
  content: "";
  position: absolute;
  background: #adadad;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.single_service {
  display: flex;
  padding-bottom: 50px;
}

.service_icon i {
  height: 50px;
  width: 50px;
  background: #4272d7;
  color: #fff;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
}

.service_content {
  padding-left: 15px;
}

.service_content h3 {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin-bottom: 15px;
}

.service_content p {
  color: #666;
  font-size: 15px;
  line-height: 25px;
}
